@model PortfolioProject.Models.SectionsBookmarksViewModel

@{
    ViewData["Title"] = "HTML Introduction";
}

<div class="container">
    <header class="header">
        <h1>HTML Introduction</h1>
    </header>
</div>

<div class="container">
    <!-- The left sidebar -->
    <div class="sidebar left">
        <h2>HTML Sections</h2>
        <ul>
            @{
                if (@Model?.Sections == null)
                {
                    <li>
                        No sections to display!
                    </li>
                }
                else
                {
                    foreach (Section s in @Model?.Sections)
                    {
                        <li>
                            <form method="post" asp-controller="Sections" asp-action="HTMLIndex">
                                <input type="hidden" name="sectionName" value="@s.SectionName" />
                                <button type="submit" class="nav-link">
                                    @s.SectionDisplay
                                </button>
                            </form>
                        </li>
                    }
                }
            }
        </ul>
    </div>

    <!-- Section for most webpage content -->
    <div class="content">
        @Html.Raw(@Model.SectionToDisplay.SectionHTML)
    </div>

    <!-- The right sidebar -->
    <div class="sidebar right">
        @{
            int numericCheck = 0;
            if (@Model?.Bookmarks == null)
            {
                <p></p>
            }
            else
            {
                foreach (Bookmark b in @Model?.Bookmarks)
                {
                    if (b.BookmarkDisplay == Model.SectionToDisplay.SectionDisplay)
                    {
                        numericCheck = numericCheck + 1;
                    }
                }

                if (numericCheck != 0)
                {
                    <form method="post" asp-controller="Sections" asp-action="DeleteBookmark">
                        <input type="hidden" name="bookmarkName" value="@Model.SectionToDisplay.SectionName" />
                        <button type="submit" class="nav-link red-button">
                            Delete Bookmark
                        </button>
                    </form>
                }
                else
                {
                    <form method="post" asp-controller="Sections" asp-action="AddBookmark">
                        <input type="hidden" name="bookmarkName" value="@Model.SectionToDisplay.SectionName" />
                        <button type="submit" class="nav-link green-button">
                            Add Bookmark
                        </button>
                    </form>
                }
            }
        }

        <h2>Your Bookmarks:</h2>
        <ul>
            @{
                if (@Model?.Bookmarks == null)
                {
                    <li>
                        No bookmarks to display!
                    </li>
                }
                else
                {
                    foreach (Bookmark b in @Model?.Bookmarks)
                    {
                        if (b.BookmarkType == "HTML")
                        {
                            <li>
                                <form method="post" asp-controller="Sections" asp-action="HTMLIndex">
                                    <input type="hidden" name="sectionName" value="@b.BookmarkName" />
                                    <button type="submit" class="nav-link">
                                        @b.BookmarkDisplay
                                    </button>
                                </form>
                            </li>
                        }
                        else if (b.BookmarkType == "CSS")
                        {
                            <li>
                                <form method="post" asp-controller="Sections" asp-action="CSSIndex">
                                    <input type="hidden" name="sectionName" value="@b.BookmarkName" />
                                    <button type="submit" class="nav-link">
                                        @b.BookmarkDisplay
                                    </button>
                                </form>
                            </li>
                        }
                        else if (b.BookmarkType == "Javascript")
                        {
                            <li>
                                <form method="post" asp-controller="Sections" asp-action="JavascriptIndex">
                                    <input type="hidden" name="sectionName" value="@b.BookmarkName" />
                                    <button type="submit" class="nav-link">
                                        @b.BookmarkDisplay
                                    </button>
                                </form>
                            </li>
                        }
                    }
                }
            }
        </ul>
    </div>
</div>